.wishlist-place {
    margin: 20px;
}

.place-name {
    display: inline-block;
    width: 300px;
}

.visited-form {
    display: inline;
}

.nav-link {
    margin: 10px;
}

#add-new-place {
    background-color: green;
}

#add-new-place:hover {
    background-color: darkgreen;
}
